:root {
  --VeryDarkBlue: #090b1a;
  --DarkDesaturatedBlue: #1b1938;
  --SoftViolet: #aa5cdb;
  --White: #ffffff;
  --SlightlyTransparentWhiteF: rgba(255, 255, 255, 0.75);
  --SlightlyTransparentWhite: rgba(255, 255, 255, 0.6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  font-size: 1.5rem;
  line-height: 1.3;
  background: var(--VeryDarkBlue);
  color: var(--White);
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.main {
  margin: 0 auto;
  max-width: 100rem;
}
.card {
  border-radius: 1rem;
  margin: 2rem;
  background-color: var(--DarkDesaturatedBlue);
}
.card__imagens {
  position: relative;
}
.card__imagens::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: rgba(83, 9, 129, 0.6);
}
.card__img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card__texto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
  text-align: center;
}
.card__titulo--roxo {
  color: var(--SoftViolet);
}
.card__descricao {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.card__descricao--cinza {
  color: var(--SlightlyTransparentWhite);
}
.card__dados-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.card__num {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.card__info {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.card__info--cinza {
  color: var(--SlightlyTransparentWhiteF);
  font-weight: 400;
}
