:root {
  --primaria-AzulEscuro: hsl(243, 87%, 12%);
  --primaria-AzulDessaturado: hsl(238, 22%, 44%);
  --Azul: hsl(224, 93%, 58%);
  --Ciano: hsl(170, 45%, 43%);
  --AzulAcinzentada: hsl(240, 75%, 98%);
  --CinzaClaro: hsl(0, 0%, 75%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1rem;
  font-family: "Raleway", Arial;
  min-height: 100vh;
  color: var(--primaria-AzulEscuro);
}
img {
  max-width: 100%;
  display: block;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  height: 10rem;
  box-shadow: 0 0.3rem 0.3rem #f0eded;
  background: #fafafa;
}
.mobile-menu div {
  width: 3.2rem;
  height: 0.2rem;
  background-color: black;
  margin: 0.8rem;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.menu-list {
  display: flex;
  gap: 2rem;
}
.menu-item a {
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
  margin: 0.5rem;
  padding-bottom: 1rem;
  color: var(--primaria-AzulDessaturado);
}
.menu-item a:hover {
  color: black;
  border-bottom: 0.3rem solid black;
  transition: 0.1s;
}
.header-logo {
  width: 13rem;
}
.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem 5rem 0 5rem;
}
.primario {
  margin-top: 10rem;
  align-items: center;
  min-height: calc(100vh - 10rem);
}
.h1-texto {
  line-height: 4rem;
  max-width: 27ch;
  font-size: 3.5rem;
}
.ilustracao {
  object-fit: cover;
}
.p-texto {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  margin: 2rem 0;
  max-width: 50ch;
}
.primario-texto input {
  padding: 1rem 7rem 1rem 1rem;
  margin-right: 1rem;
}
.primario-texto button {
  padding: 1.2rem 5rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  color: white;
  background-color: var(--Azul);
}
.primario-texto button:hover {
  background-color: hsl(224, 77%, 49%);
}
.background {
  background-image: url(/img/bg-curve-mobile.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.secundario {
  padding-top: 15rem;
  margin-top: 5rem;
}
.secundario-texto a {
  display: inline-block;
  padding: 0.5rem 0;
  font-size: 1.7rem;
  font-family: "Open Sans", sans-serif;
  color: var(--Ciano);
  border-bottom: 0.1rem solid var(--Ciano);
}
.secundario-texto a:hover {
  color: hsl(170, 74%, 67%);
  border-color: hsl(170, 74%, 67%);
}
.secundario-texto a img {
  margin-left: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
.comentario {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  font-weight: 700;
  margin: 4rem 0 12rem 0;
  padding: 3rem;
  max-width: 55ch;
  border-radius: 0.5rem;
  color: var(--primaria-AzulDessaturado);
  box-shadow: 0.3rem 0.3rem 0.5rem 0.5rem #f0eded;
  background: white;
}
.comentario p {
  line-height: 1.9rem;
  font-size: 1.3rem;
}
.comentario-pessoa {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 1rem;
  align-items: center;
}
.comentario-pessoa h3 {
  color: black;
  letter-spacing: 0.1rem;
}
.comentario-pessoa p {
  font-size: 1rem;
}
.circulo {
  grid-row: 1/3;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: gray;
}
.main-wrapperFinal {
  display: flex;
  justify-content: space-between;
  padding: 6rem 14rem 6rem 6rem;
  gap: 2.5rem;
  color: var(--AzulAcinzentada);
  background: var(--primaria-AzulDessaturado);
}
.final-texto h2 {
  font-size: 2.5rem;
}
.final-texto p {
  font-family: "Open Sans";
  font-size: 1.5rem;
  max-width: 45ch;
  margin-top: 2rem;
}
.final-form input {
  display: block;
  width: 32rem;
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
}
.final-form button {
  margin-top: 1rem;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  color: white;
  background: var(--Azul);
}
.final-form button:hover {
  background-color: hsl(224, 77%, 49%);
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto auto;
  font-family: "Open Sans", sans-serif;
  gap: 2.5rem;
  padding: 6rem;
  justify-items: left;
  background-color: var(--primaria-AzulEscuro);
}
.footer-logo {
  grid-column: 1/-1;
  max-width: 16.6rem;
  width: 100%;
}
.footer-img {
  display: inline-block;
  vertical-align: middle;
}
.footer-wrapperContatos {
  font-size: 1.5rem;
  color: var(--AzulAcinzentada);
}
.footer-wrapperContatos p:last-child {
  margin-top: 2rem;
}
.footer-wrapper p,
a {
  font-size: 1.5rem;
  color: var(--AzulAcinzentada);
}
.Link {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Link a {
  display: inline-block;
}
.footer-wrapper a:hover {
  color: var(--Azul);
}
.redes img {
  display: inline-block;
  margin: 0.5rem;
}

@media screen and (max-width: 970px) {
  .primario-texto button {
    margin-top: 1rem;
  }
  .main-wrapperFinal {
    padding: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .main-wrapper {
    grid-template-columns: auto;
    justify-items: center;
    text-align: center;
  }
  .ilustracao {
    max-width: 37rem;
    order: -1;
  }
  .h1-texto {
    max-width: initial;
    font-size: 2.8rem;
  }
  .comentario {
    text-align: left;
  }
  .p-texto {
    text-align: left;
    max-width: initial;
    font-size: 2rem;
  }
  .main-wrapperFinal {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
  }
  .comentario {
    margin: 4rem auto 12rem auto;
  }
  .secundario-texto .h1-texto {
    margin-top: 2rem;
  }
  .main-wrapper,
  .footer-container,
  .header-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .footer-container {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    gap: 3.5rem;
  }
  .footer-wrapperContatos {
    grid-column: 1/-1;
  }
  .footer-wrapperRedes {
    grid-column: 1/-1;
    justify-self: center;
  }
  .menu-list {
    display: none;
  }
  .header-menu.active .menu-list {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 5rem;
    align-items: center;
    position: absolute;
    top: 10rem;
    right: 0;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    background: #fafafa;
    box-shadow: 0 0.5rem 0.5rem #f0eded;
  }
  .mobile-menu {
    position: relative;
  }
  .header-menu.active .linha2 {
    transform: rotate(135deg);
    transition: 0.3s;
  }
  .header-menu.active .linha3 {
    position: absolute;
    transform: rotate(-135deg);
    top: -0.8rem;
    transition: 0.3s;
  }
  .header-menu.active .mobile-menu .linha1 {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .main-wrapperFinal {
    padding: 3rem;
  }
  .final-form input {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .ilustracao {
    width: 27rem;
    object-fit: cover;
  }
  .comentario {
    padding: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .ilustracao {
    max-width: 24rem;
  }
  .main-wrapper,
  .footer-container,
  .header-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
