:root {
  --primaria-AzulEscuro: hsl(243, 87%, 12%);
  --primaria-AzulDessaturado: hsl(238, 22%, 44%);
  --Azul: hsl(224, 93%, 58%);
  --Ciano: hsl(170, 45%, 43%);
  --AzulAcinzentada: hsl(240, 75%, 98%);
  --CinzaClaro: hsl(0, 0%, 75%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1rem;
  font-family: "Raleway";
  min-height: 100vh;
  color: var(--primaria-AzulEscuro);
}
img {
  max-width: 100%;
  display: block;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.8rem;
}
.container {
  max-width: 144rem;
  padding: 1rem;
  margin: 0 auto;
}
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: 10rem;
}
.header-menu {
  display: flex;
}
.menu-item a {
  font-size: 1.7rem;
  margin: 0.5rem;
  padding: 2rem;
  color: var(--primaria-AzulDessaturado);
}
.menu-item a:hover {
  color: black;
  border-bottom: 0.3rem solid black;
  transition: 0.1s;
}
.header-logo {
  width: 13rem;
}
.main-container {
  padding: 0 5rem;
}
.main-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.primario {
  align-items: center;
  height: calc(100vh - 4rem);
}
.primario-texto h1 {
  width: 25ch;
  font-size: 3rem;
}
.primario-texto p {
  font-family: "Open Sans";
  margin: 2rem 0;
  width: 55ch;
}
.primario-texto input {
  padding: 1rem 7rem 1rem 1rem;
  margin-right: 1rem;
}
.primario-texto button {
  padding: 1.2rem 5rem;
  border: none;
  border-radius: 0.4rem;
  color: white;
  background-color: var(--Azul);
}
