.main__home {
  height: 100vh;
  max-height: 60rem;
  width: 100%;
  background-image: url(/img/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &-text {
    display: grid;
    height: 100vh;
    max-height: 60rem;
    padding: 0 var(--lados);
    align-items: center;
    h1 {
      @include font(true);
      margin-top: 5rem;
      font-size: 5rem;
      line-height: 1.2;
      letter-spacing: 0.2rem;
      padding: 2rem 3rem;
      border: 0.1rem solid $white;
      max-width: 15ch;
    }
  }
}
.interactive {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 12rem var(--lados);
  &__imagem {
    grid-column: 1/6;
    grid-row: 1/4;
    &__img {
      height: 50rem;
      width: auto;
    }
  }
  &__text {
    padding: 8rem;
    grid-column: 5/-1;
    grid-row: 2/-1;
    z-index: 1;
    background: $white;
    color: $black;
    h2 {
      @include font(true);
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.4rem;
      line-height: 1.5;
      color: $darkGray;
    }
  }
}
.creations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
  padding: 10rem var(--lados);
  position: relative;
  &__titulo {
    @include font(true);
    position: absolute;
    top: 0;
    left: var(--lados);
    font-size: 3.5rem;
    color: $black;
  }
  &__btn {
    font-family: $font-Principal;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: var(--lados);
    padding: 1rem 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
    color: $black;
    background-color: $white;
    transition: 0.3s;
    &:hover {
      background: $black;
      color: $white;
    }
  }
}
.creations__card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  &:hover img {
    transform: scale(1.15);
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.4)
    );
  }
  img {
    width: 100%;
    transition: 0.3s;
    object-position: top;
    height: 45rem;
  }
  h3 {
    @include font(true);
    font-size: 2.5rem;
    line-height: 1.2;
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    z-index: 1;
  }
}
