$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);
$fonte-principal: "Karla", sans-serif;
$fonte-secundaria: "DM Serif Display", serif;
:root {
  --pd: 2rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-y: scroll;
}
body {
  min-height: 100vh;
  font-family: $fonte-principal;
  font-size: 1.6rem;
  position: relative;
}
a {
  display: inline-block;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 144rem;
  margin: 0 auto;
}
.btn {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 var(--pd);
  background: none;
  padding: 1.3rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  color: white;
  background: $DarkViolet;
  border: 0.15rem solid white;
}
