.footer {
  z-index: -2;
  position: relative;
  padding: 7rem 0;
  background: $VeryLightGray;
  .detalhe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    max-width: 56rem;
    width: 100%;
    height: auto;
  }
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem var(--pd);
  padding-top: 0;
  gap: 2.5rem;
  position: relative;
  .nav-redes__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .detalhe-linha {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 0.1rem;
    width: calc(100% - var(--pd) * 2);
    background: $DarkGrayishViolet;
  }
}
.footer__conteudo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  margin-top: 4rem;
  padding: 0 var(--pd);
  text-align: center;
  .nav-footer__list {
    width: 15rem;
    h4 {
      color: $DarkGrayishViolet;
      text-transform: uppercase;
      margin-bottom: 2rem;
      font-size: 1.8rem;
    }
    .nav-footer__item a {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin: 0.5rem;
      letter-spacing: 0.1rem;
      color: $DarkViolet;
      font-weight: 700;
    }
  }
}
