.footer {
  z-index: -2;
  position: relative;
  padding: 7rem 0;
  background: $VeryLightGray;
  .detalhe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem var(--pd);
  padding-top: 0;
  gap: 2.5rem;
  position: relative;
  .nav-redes {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .detalhe-linha {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 0.1rem;
    width: 90%;
    background: $DarkGrayishViolet;
  }
}
.footer__conteudo {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 2rem;
  margin-top: 4rem;
  place-items: center;
  text-align: center;
  .nav-footer {
    h4 {
      color: $DarkGrayishViolet;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    &__item a {
      text-transform: uppercase;
      margin: 0.5rem;
      letter-spacing: 0.1rem;
      color: $DarkViolet;
      font-weight: 700;
    }
  }
}
