.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9rem;
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 2rem;
    }
}
.nav__btn{
    border: none;
    cursor: pointer;
}