.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  transition: all 0.3s;
  background: white;
  z-index: 10;
  &.sticky {
    height: 6rem;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
    .nav-header__list {
      padding-top: 6rem;
    }
  }
  &__box {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    transition: all 0.3s;
    padding: 0 var(--pd);
  }
}

.nav-header {
  &__btn {
    border: none;
    cursor: pointer;
  }
}
.nav-header {
  &__list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 9rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    min-height: 100vh;
    overflow-y: auto;
    z-index: -1;
    background: $VeryDarkViolet;
  }
  &__item a {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    position: relative;
    color: white;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 1rem;
      height: 0.2rem;
      width: 0%;
      transition: 0.3s;
      background: $VeryDarkViolet;
    }
    &:hover::after {
      width: calc(100% - 2rem);
    }
  }
  .header__btn {
    padding: 1.5rem 6rem;
    background: $VeryDarkViolet;
    transition: 0.3s;
    &:hover {
      background-color: $VeryDarkViolet;
      color: white;
    }
  }
}

.mobile-menu__close {
  display: none;
}
body.ativo {
  .mobile-menu__close {
    display: block;
  }
  .mobile-menu__open {
    display: none;
  }
  .nav-header__list {
    display: flex;
  }
}
