.main {
  padding-top: 9rem;
}
.introducao {
  background: $DarkViolet;
  &__box {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__conteudo {
    display: grid;
    place-items: center;
    height: 100%;
    text-align: center;
    position: relative;
    color: white;
    h1 {
      font-family: $fonte-secundaria;
      padding: 0 var(--pd);
      font-weight: 400;
      font-size: clamp(4rem, 12vw, 6rem);
      margin-bottom: 1.5rem;
      line-height: 1.2;
    }
    p {
      padding: 0 var(--pd);
      font-size: clamp(1.4rem, 4.5vw, 2rem);
      line-height: 1.5;
      margin-bottom: 2.5rem;
      color: rgba(255, 255, 255, 0.8);
    }
    .detalhe-esq {
      position: absolute;
      top: 0;
      left: 0;
      width: 14.4rem;
    }
    .detalhe-dir {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10rem;
    }
    .detalhe-bg {
      height: 14rem;
      width: 100%;
      background: white;
      z-index: 0;
    }
    .detalhe-linha {
      position: absolute;
      bottom: 3rem;
      height: 0.1rem;
      width: 50%;
      background: $DarkGrayishViolet;
    }
    &-box {
      padding: 6rem 0;
      z-index: 2;
    }
  }
}

.beneficios {
  padding: 0 var(--pd);
  text-align: center;
  h2 {
    margin-bottom: 6rem;
    font-size: clamp(3.5rem, 11vw, 5rem);
    letter-spacing: 0.1rem;
    font-family: $fonte-secundaria;
    color: $VeryDarkViolet;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
}
.ben {
  display: grid;
  place-items: center;
  max-width: 35rem;
  margin-bottom: 4rem;
  img {
    margin-bottom: 2rem;
  }
  h3 {
    margin-bottom: 1rem;
    font-family: $fonte-secundaria;
    font-size: clamp(2.5rem, 8vw, 3.5rem);
    color: $DarkViolet;
    font-weight: 400;
  }
  p {
    font-size: 1.4rem;
    color: $DarkGrayishViolet;
  }
}
.final {
  margin: 10rem 2rem;
  padding: 5rem 2rem;
  text-align: center;
  color: white;
  background: $DarkViolet;
  position: relative;
  z-index: -2;
  .detalhe {
    position: absolute;
    top: 0;
    width: 15.2rem;
    z-index: -1;
    right: 0;
  }
  &__box {
    h2 {
      font-weight: 400;
      margin-bottom: 3rem;
      font-size: clamp(3.5rem, 11vw, 5rem);
      letter-spacing: 0.1rem;
      font-family: $fonte-secundaria;
    }
  }
}
