/*font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;*/

:root {
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --veryLightGray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--veryLightGray);
}
p {
  font-size: 1.5rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 144rem;
  padding: 1rem;
}
.main--container {
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  max-width: 29rem;
  padding: 4rem;
  line-height: 2.3rem;
  color: var(--transparentWhite);
}
.sedans {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: var(--brightOrange);
}
.suvs {
  background: var(--darkCyan);
}
.luxury {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: var(--veryDarkCyan);
}
.card--subtitulo {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  color: var(--veryLightGray);
}
.card--button {
  margin-top: 4rem;
  font-weight: 700;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  border: 0.2rem solid white;
  background-color: white;
  cursor: pointer;
}
.sedans button {
  color: var(--brightOrange);
}
.suvs button {
  color: var(--darkCyan);
}
.luxury button {
  color: var(--veryDarkCyan);
}
.sedans button:hover {
  color: white;
  background: var(--brightOrange);
}
.suvs button:hover {
  color: white;
  background: var(--darkCyan);
}
.luxury button:hover {
  color: white;
  background: var(--veryDarkCyan);
}
