:root {
  --pd: 2rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  z-index: 3;
  transition: all 0.3s;
  background: white;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: all 0.1s;
  padding: 0 var(--pd);
}

.nav__btn {
  border: none;
  cursor: pointer;
}

.header.sticky {
  height: 6rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.main {
  padding-top: 9rem;
}

.introducao {
  background: hsl(256deg, 26%, 20%);
}
.introducao__box {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-content: center;
}
.introducao__img {
  width: 100%;
}
.introducao__img img {
  width: 100%;
  object-fit: cover;
}
.introducao__conteudo {
  display: grid;
  place-items: center;
  height: 100%;
  text-align: center;
  position: relative;
  color: white;
}
.introducao__conteudo h1 {
  font-family: "DM Serif Display", serif;
  padding: 0 var(--pd);
  font-weight: 400;
  font-size: clamp(4rem, 12vw, 6rem);
  margin-bottom: 1.5rem;
  line-height: 1.2;
}
.introducao__conteudo p {
  padding: 0 var(--pd);
  font-size: clamp(1.4rem, 4.5vw, 2rem);
  line-height: 1.5;
  margin-bottom: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
}
.introducao__conteudo .detalhe-esq {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.4rem;
}
.introducao__conteudo .detalhe-dir {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10rem;
}
.introducao__conteudo .detalhe-bg {
  height: 14rem;
  width: 100%;
  background: white;
  z-index: 0;
}
.introducao__conteudo .detalhe-linha {
  position: absolute;
  bottom: 3rem;
  height: 0.1rem;
  width: 50%;
  background: hsl(273deg, 4%, 51%);
}
.introducao__conteudo-box {
  padding: 6rem 0;
  z-index: 2;
}

.btn {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 var(--pd);
  background: none;
  padding: 1.3rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  color: white;
  background: hsl(256deg, 26%, 20%);
  border: 0.15rem solid white;
}

.beneficios {
  padding: 0 var(--pd);
  text-align: center;
}
.beneficios h2 {
  margin-bottom: 6rem;
  font-size: clamp(3.5rem, 11vw, 5rem);
  letter-spacing: 0.1rem;
  font-family: "DM Serif Display", serif;
  color: hsl(270deg, 9%, 17%);
}
.beneficios__box {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.ben {
  display: grid;
  place-items: center;
  max-width: 35rem;
  margin-bottom: 4rem;
}
.ben img {
  margin-bottom: 2rem;
}
.ben h3 {
  margin-bottom: 1rem;
  font-family: "DM Serif Display", serif;
  font-size: clamp(2.5rem, 8vw, 3.5rem);
  color: hsl(256deg, 26%, 20%);
  font-weight: 400;
}
.ben p {
  font-size: 1.4rem;
  color: hsl(273deg, 4%, 51%);
}

.final {
  margin: 10rem 2rem;
  padding: 5rem 2rem;
  text-align: center;
  color: white;
  background: hsl(256deg, 26%, 20%);
  position: relative;
  z-index: -2;
}
.final .detalhe {
  position: absolute;
  top: 0;
  width: 15.2rem;
  z-index: -1;
  right: 0;
}
.final__box h2 {
  font-weight: 400;
  margin-bottom: 3rem;
  font-size: clamp(3.5rem, 11vw, 5rem);
  letter-spacing: 0.1rem;
  font-family: "DM Serif Display", serif;
}

.footer {
  z-index: -2;
  position: relative;
  padding: 7rem 0;
  background: hsl(0deg, 0%, 98%);
}
.footer .detalhe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem var(--pd);
  padding-top: 0;
  gap: 2.5rem;
  position: relative;
}
.social .nav-redes {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.social .detalhe-linha {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0.1rem;
  width: 90%;
  background: hsl(273deg, 4%, 51%);
}

.footer__conteudo {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 2rem;
  margin-top: 4rem;
  place-items: center;
  text-align: center;
}
.footer__conteudo .nav-footer h4 {
  color: hsl(273deg, 4%, 51%);
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.footer__conteudo .nav-footer__item a {
  text-transform: uppercase;
  margin: 0.5rem;
  letter-spacing: 0.1rem;
  color: hsl(256deg, 26%, 20%);
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
